# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
fastapi-env/
venv/
env/
.venv/

# Environment variables
.env
.env.*

# FastAPI / Uvicorn
*.log

# IDEs & editors
.vscode/
.idea/

# OS files
.DS_Store

# Testing
.pytest_cache/
.coverage
htmlcov/

# Build
build/
dist/
*.egg-info/

# SQLite / DB files
*.db
