stages:
  - build
  - deploy

default:
  id_tokens:
    GITLAB_OIDC_TOKEN:
      aud: api://AzureADTokenExchange

variables:
  AZURE_ACR_NAME: "irmaiuatregistry"
  AZURE_AKS_CLUSTER: "rg-irmai-uat-us-1-cluster"
  AZURE_RESOURCE_GROUP: "rg-irmai-uat-us-1"
  IMAGE_NAME: "irmai-kg-backend"
  TF_STATE_KEY: "irmai-kg-backend.tfstate"

build_image:
  stage: build
  image: mcr.microsoft.com/azure-cli:latest
  script:
    - az login --service-principal -u "$AZURE_CLIENT_ID" -t "$AZURE_TENANT_ID" --federated-token "$GITLAB_OIDC_TOKEN"
    - az acr build --registry "$AZURE_ACR_NAME" --image "$IMAGE_NAME:$CI_COMMIT_SHORT_SHA" --image "$IMAGE_NAME:latest" .

deploy_aks:
  stage: deploy
  image: mcr.microsoft.com/azure-cli:latest
  before_script:
    # Install Terraform into the Azure CLI container
    # Since mcr.microsoft.com/azure-cli is based on Mariner/Azure Linux, we use tdnf
    - tdnf install -y terraform
  script:
    # 1. Login to Azure
    - az login --service-principal -u "$AZURE_CLIENT_ID" -t "$AZURE_TENANT_ID" --federated-token "$GITLAB_OIDC_TOKEN"
    
    # 2. Get AKS credentials to allow Terraform to talk to the cluster
    - az aks get-credentials --resource-group "$AZURE_RESOURCE_GROUP" --name "$AZURE_AKS_CLUSTER" --admin
    
    # 3. Deploy using Terraform
    - cd terraform
    - terraform init -backend-config="key=$TF_STATE_KEY"
    - terraform apply -auto-approve \
        -var="container_image=$AZURE_ACR_NAME.azurecr.io/$IMAGE_NAME:$CI_COMMIT_SHORT_SHA" \
        -var="openai_endpoint=$AZURE_OPENAI_ENDPOINT" \
        -var="openai_key=$AZURE_OPENAI_API_KEY" \
        -var="openai_deployment=$AZURE_OPENAI_DEPLOYMENT_NAME" \
        -var="openai_embedding=$AZURE_OPENAI_EMBEDDING_MODEL" \
        -var="openai_generation=$AZURE_OPENAI_GENERATION_MODEL" \
        -var="openai_version=$AZURE_OPENAI_API_VERSION" \
        -var="cosmos_endpoint=$COSMOS_GREMLIN_ENDPOINT" \
        -var="cosmos_db=$COSMOS_GREMLIN_DATABASE" \
        -var="cosmos_container=$COSMOS_GREMLIN_CONTAINER" \
        -var="cosmos_key=$COSMOS_GREMLIN_KEY"